# Numbers and Maths in Python!

We're going to go over the different number types in Python, do some basic math, and learn a bit about variable assignment.

## Types of Numbers
There are a few different types of numbers in Python, but the most important ones that we'll be focusing on are integers and floating point numbers (aka floats).
<br>
Integers are whole numbers - positive or negative. Some examples of integers are 2, -2, 1000, etc
Floating point numbers are mainly decimals, but also include exponentials. Some examples of floats are 2.0, 2.5, etc.

### Basic Arithmetic

In [1]:
#Addition
3+3

6

In [2]:
4 + 4

8

In [3]:
#Subtraction
5-3

2

In [4]:
#Multiplication
4 * 4

16

In [5]:
5*5

25

In [6]:
#Division
3/2

1.5

In [8]:
#Floor Division
7//2

3

In [9]:
6/3

2.0

In [10]:
6//3

2

Floor division (using the "//" operator) automatically truncates the decimal without rounding, and returns an integer result. This differs from regular division, which will give you the full decimal value for division, and returns a floating point result.

In [11]:
#Modulo Operator
11 % 4

3

In [12]:
12 % 4

0

The Modulo operator returns the remainder after division

In [13]:
##Exponents
2 ** 3

8

In [14]:
5 ** 10

9765625

In [15]:
##Can also do square roots
25 ** 0.5

5.0

#### Order of Operations follows in Python - remember PEMDAS!

In [16]:
2 + 10 * 10 + 3

105

In [17]:
(2 + 10) * (10 + 3)

156

### Variable Assignments

In [18]:
a = 10

In [19]:
a

10

In [20]:
a + a

20

In [21]:
a = a + a

In [22]:
a

20

The names you use when creating these labels need to follow a few rules:

    1. Names can not start with a number.
    2. There can be no spaces in the name, use _ instead.
    3. Can't use any of these symbols :'",<>/?|\()!@#$%^&*~-+
    4. It's considered best practice (PEP8) that names are lowercase.
    5. Avoid using the characters 'l' (lowercase letter el), 'O' (uppercase letter oh), 
       or 'I' (uppercase letter eye) as single character variable names.
    6. Avoid using words that have special meaning in Python like "list" and "str"


Using variable names can be a very useful way to keep track of different variables in Python. For example:
"list", "str", etc.

**Python variables are "Dynamically Typed"**

In [23]:
#Example

dogs = 2

dogs = ["Fido", "Rufus"]

In [24]:
a = 5

In [25]:
a = a + a

In [26]:
a

10

In [27]:
type(a)

int

In [28]:
a = 10.0

In [29]:
type(a)

float

In [30]:
#Example of using variables

my_income = 100

tax_rate = 0.1

my_taxes = my_income * tax_rate

In [31]:
my_taxes

10.0

### Resources:
https://www.w3schools.com/python/python_numbers.asp